*,
*::before,
*::after{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}
.mt-6{
    margin-top: 100px;
}
.py-6{
    padding-top: 100px;
}
.btn-outline-light{
    font-size: 18px;
    padding: 0.55rem 1.95rem;
}
html{
    scroll-behavior: smooth;
    
}
body{ 
   font-family: 'Lato', sans-serif !important;
   font-size: 18px;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 1300px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1280px;
    }
}
