.bg-purple {
  background-color: #231651;
}

.bg-green {
  background: #00ad6d;
}

.bg-red {
  background: #CC3363;
}

.bg-yellow {
  background: #ce9a00;
}

.bg-grey {
  background: #f4f4f4;
}

.bg-black {
  background: #1F2430;
}

.btn {
  font-family: 'Oswald', sans-serif;
}
