header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

header nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

header nav.navbar .logo {
  max-width: 125px;
  -webkit-filter: brightness(100);
          filter: brightness(100);
  margin-top: -10px;
}

header nav.navbar .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav.navbar .nav .nav-item:not(:last-child) {
  margin-right: 1.5rem;
}

header nav.navbar .nav .nav-item .nav-link, header nav.navbar .nav .nav-item .btn {
  color: #fff;
  font-size: 15px;
  padding: 0.5rem 1.25rem;
}

header nav.navbar .nav .nav-item .btn:hover {
  color: #333;
}

header nav.navbar .nav-toggler {
  display: none;
}
