*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mt-6 {
  margin-top: 100px;
}

.py-6 {
  padding-top: 100px;
}

.btn-outline-light {
  font-size: 18px;
  padding: 0.55rem 1.95rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 1300px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1280px;
  }
}

.bg-purple {
  background-color: #231651;
}

.bg-green {
  background: #00ad6d;
}

.bg-red {
  background: #CC3363;
}

.bg-yellow {
  background: #ce9a00;
}

.bg-grey {
  background: #f4f4f4;
}

.bg-black {
  background: #1F2430;
}

a {
  color: #087CA7;
}

.btn {
  font-family: 'Oswald', sans-serif;
}

.border-blue {
  display: block;
  margin: 3rem auto 0;
  width: 99%;
  height: .125rem;
  background-color: #087CA7;
}

article ul {
  margin-bottom: 2rem;
}

article ul li {
  font-weight: 400;
  padding-bottom: 1.5rem;
  color: #4A4A4A;
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

article ul li::before {
  position: absolute;
  content: '';
  top: 0.5rem;
  left: 0.25rem;
  width: .5rem;
  height: 0.5rem;
  background-color: #087CA7;
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #087CA7;
  z-index: 999999;
}

.preloader .inner {
  height: 100%;
  width: 100%;
}

.preloader .sk-cube-grid {
  width: 70px;
  height: 70px;
  margin: auto;
}

.preloader .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.preloader .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.preloader .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.preloader .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.preloader .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.preloader .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.preloader .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.preloader .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.preloader .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.preloader .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

header nav.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

header nav.navbar .logo {
  max-width: 105px;
  margin-top: -5px;
  -webkit-filter: drop-shadow(0 2px 5px #0001);
          filter: drop-shadow(0 2px 5px #0001);
}

header nav.navbar .logo .logo-white {
  display: block;
}

header nav.navbar .logo .logo-dark {
  display: none;
}

header nav.navbar .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 992px) {
  header nav.navbar .nav {
    display: none;
  }
}

header nav.navbar .nav .nav-item:not(:last-child) {
  margin-right: 1.5rem;
}

header nav.navbar .nav .nav-item .nav-link,
header nav.navbar .nav .nav-item .btn {
  color: #fff;
  font-size: 15px;
  padding: 0.5rem 1.25rem;
}

@media screen and (max-width: 992px) {
  header nav.navbar .nav .nav-item .btn {
    display: none;
  }
}

header nav.navbar .nav .nav-item .btn:hover {
  color: #333;
}

header nav.navbar .nav-toggler {
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(81, 89, 108, 0.3);
          box-shadow: 0 0.25rem 0.75rem rgba(81, 89, 108, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  right: 0rem;
  top: 1rem;
  z-index: 9999;
}

header nav.navbar .nav-toggler .line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  -webkit-transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

header nav.navbar .nav-toggler .line.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header nav.navbar .nav-toggler .line.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

header nav.navbar .nav-toggler .line.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

header nav.navbar .nav-toggler.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

header nav.navbar .nav-toggler.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

header nav.navbar .nav-toggler.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

header nav.navbar.dark .logo .logo-white {
  display: none;
}

header nav.navbar.dark .logo .logo-dark {
  display: block;
}

header nav.navbar.dark .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav.navbar.dark .nav .nav-item:not(:last-child) {
  margin-right: 1.5rem;
}

header nav.navbar.dark .nav .nav-item .nav-link,
header nav.navbar.dark .nav .nav-item .btn {
  color: #454545;
}

header nav.navbar.dark .nav .nav-item .btn {
  border-color: #454545;
}

header .mega-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: 0.75s ease;
  transition: 0.75s ease;
  z-index: -99;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transform-origin: right;
          transform-origin: right;
  pointer-events: none;
}

header .mega-menu.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  visibility: visible;
  pointer-events: all;
  z-index: 99;
  background-color: #AF2BBF;
}

header .mega-menu .mega-inner {
  position: relative;
  color: #fff;
}

header .mega-menu .nav-left {
  max-width: 200px;
  width: 200px;
  padding: 0rem 0 2rem;
  border-right: 1px solid rgba(218, 220, 224, 0.3);
}

header .mega-menu .nav-left .nav-item {
  opacity: 0.7;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header .mega-menu .nav-left .nav-item:hover, header .mega-menu .nav-left .nav-item.active {
  opacity: 1;
  text-decoration: underline;
}

header .mega-menu .nav-left .nav-item:not(.mega-link) .nav-link {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fff;
}

header .mega-menu .nav-left .nav-item.mega-link > .nav-link {
  position: relative;
}

header .mega-menu .nav-left .nav-item.mega-link > .nav-link::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0a9";
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: calc(50% - 0.5rem);
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 769px) {
  header .mega-menu .nav-left .nav-item.mega-link > .nav-link::before {
    display: none;
    content: '';
  }
}

header .mega-menu .nav-left .nav-item.mega-link.active {
  padding-left: 0.5rem;
}

header .mega-menu .nav-left .nav-item.mega-link.active > .nav-link::before {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 1;
}

header .mega-menu .nav-left .nav-item.active .nav-links-right {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

header .mega-menu .nav-left .nav-item .nav-links-right {
  display: block;
  position: absolute;
  max-width: 80%;
  width: 80%;
  padding: 0 3rem;
  top: 0.75rem;
  left: 200px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  max-height: 80vh;
  overflow-y: auto;
  padding-bottom: 3rem;
  visibility: hidden;
}

header .mega-menu .nav-left .nav-item .nav-links-right .nav-col {
  margin-bottom: 2rem;
}

header .mega-menu .nav-left .nav-item .nav-links-right .nav-col .nav-header {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 0.25rem;
  position: relative;
}

header .mega-menu .nav-left .nav-item .nav-links-right .nav-col .nav-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3rem;
  height: 2px;
  background-color: #fff;
}

header .mega-menu .nav-left .nav-item .nav-links-right .nav-col .nav-link {
  font-family: "Lato", sans-serif;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 400;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  padding: 0.25rem 0;
}

header .mega-menu .nav-left .nav-item .nav-links-right .nav-col .nav-link:hover {
  opacity: 1;
}

header .mega-menu .nav-left .nav-item .nav-link {
  font-family: 'Oswald', sans-serif;
  color: inherit;
  font-size: 22px;
  padding-left: 0;
}

header .mega-menu .nav-header-big {
  font-size: 42px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2.2rem;
}

@media screen and (max-width: 769px) {
  header .mega-menu .nav-header-big {
    font-size: 32px;
  }
}

header .mega-menu .mega-menu-inner {
  height: 100%;
  padding: 1.5rem 0 0;
}

.hero {
  background-color: rgba(8, 124, 167, 0.9);
  padding-top: 3rem;
  height: 100vh;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .hero {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 769px) {
  .hero {
    padding-top: 5rem;
    height: auto;
    padding-bottom: 5rem;
  }
}

.hero-text {
  margin-top: 60px;
}

@media screen and (max-width: 1200px) {
  .hero-text {
    margin-top: 45px;
  }
}

@media screen and (max-width: 577px) {
  .hero-text {
    margin-top: 5px;
  }
}

.hero-text .badge-white {
  display: inline-block;
  padding: 0.25rem .5rem;
  background: rgba(219, 224, 221, 0.2);
  -webkit-box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.03);
  color: #fff;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: .8rem;
}

.hero-text .display-4 {
  font-size: 52px;
  font-weight: 500;
  max-width: 45%;
  text-transform: capitalize;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .hero-text .display-4 {
    max-width: 70%;
  }
}

@media screen and (max-width: 769px) {
  .hero-text .display-4 {
    font-size: 46px;
    max-width: 65%;
  }
}

@media screen and (max-width: 577px) {
  .hero-text .display-4 {
    font-size: 36px;
    max-width: 85%;
  }
}

.hero .box {
  margin-top: -9.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 20px 20px;
      grid-template-areas: ". . card4" "card1 card2 card3";
  justify-items: start;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

@media screen and (max-width: 769px) {
  .hero .box {
    gap: 16px 16px;
  }
}

@media screen and (max-width: 577px) {
  .hero .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2rem;
  }
}

.hero .box-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 20px rgba(31, 36, 48, 0.25);
          box-shadow: 0px 4px 20px rgba(31, 36, 48, 0.25);
}

@media screen and (max-width: 577px) {
  .hero .box-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - .5rem);
            flex: 0 0 calc(50% - .5rem);
    max-width: 49%;
    margin: 0 !important;
    padding: 1rem;
  }
}

.hero .box-card h2.text-white {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 1px;
}

@media screen and (max-width: 769px) {
  .hero .box-card h2.text-white {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 1rem !important;
  }
}

@media screen and (max-width: 577px) {
  .hero .box-card h2.text-white {
    font-size: 22px;
  }
}

.hero .box-card h5.text-white {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

@media screen and (max-width: 577px) {
  .hero .box-card h5.text-white {
    font-size: 16px;
  }
}

.hero .box-card .btn-outline-light {
  font-size: .935rem;
  border-width: 2px;
}

@media screen and (max-width: 769px) {
  .hero .box-card .btn-outline-light {
    margin-bottom: 1rem !important;
  }
}

@media screen and (max-width: 577px) {
  .hero .box-card .btn-outline-light {
    font-size: 0.895rem;
    border-width: 1px;
  }
}

.hero .box-card .img {
  position: relative;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  .hero .box-card .img {
    display: none;
    margin: 0;
  }
}

.hero .box-card.one {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card1;
}

.hero .box-card.one .img {
  margin-top: -2rem;
  margin-left: -1rem;
  margin-bottom: -1rem;
  margin-right: 1rem;
}

.hero .box-card.two {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card2;
  margin: auto;
  margin-top: -4.5rem;
}

.hero .box-card.two .img {
  top: -1.25rem;
  left: -1.3252rem;
  margin-bottom: -9rem;
}

.hero .box-card.three {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: -1rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card4;
}

@media screen and (max-width: 1200px) {
  .hero .box-card.three {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 577px) {
  .hero .box-card.three {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
}

.hero .box-card.three .img {
  top: -20px;
  margin-right: -3rem;
  margin-bottom: -3rem;
}

.hero .box-card.four {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: card3;
}

@media screen and (max-width: 577px) {
  .hero .box-card.four {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
}

.hero .box-card.four .img {
  margin-right: -2rem;
}

.hero .bg-bal {
  background: rgba(167, 206, 203, 0.123);
  padding-bottom: 3rem;
  position: absolute;
}

.hero .bg-bal.one {
  top: 0;
  width: 30%;
  height: 530px;
  right: 3rem;
}

.hero .bg-bal.two {
  bottom: 0;
  height: 25%;
  width: 30%;
  left: 15%;
}

body {
  padding-bottom: 380px;
}

@media screen and (max-width: 992px) {
  body {
    padding-bottom: 0 !important;
  }
}

body main {
  -webkit-box-shadow: 0 1rem 4rem rgba(31, 36, 48, 0.45);
          box-shadow: 0 1rem 4rem rgba(31, 36, 48, 0.45);
  background-color: #fff;
  position: relative;
  z-index: 2;
  min-height: 80vh;
}

body.scroll-lock {
  overflow: hidden;
}

.side-bar {
  position: fixed;
  top: 40%;
  left: 10%;
  z-index: 9;
  -webkit-transform: rotate(-90deg) translate(-50%);
          transform: rotate(-90deg) translate(-50%);
  -webkit-transform-origin: left;
          transform-origin: left;
}

@media screen and (max-width: 1200px) {
  .side-bar {
    display: none !important;
  }
}

.side-bar .inner {
  padding: 0.25rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: 1px solid #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-bar .inner .text {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.side-bar .inner .bar {
  margin-right: 2rem;
  width: 3rem;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}

.side-bar.dark .inner {
  border: 1px solid #51596C;
}

.side-bar.dark .inner .text {
  color: #51596C;
}

.side-bar.dark .inner .bar {
  background-color: #51596C;
}

.serv-sect {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.serv-sect .badge-white {
  display: inline-block;
  padding: 0.25rem .5rem;
  background: rgba(219, 224, 221, 0.2);
  -webkit-box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.03);
  color: #fff;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: .8rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.serv-sect .bg-bal {
  background: rgba(167, 206, 203, 0.123);
  padding-bottom: 3rem;
  position: absolute;
}

.serv-sect .bg-bal.one {
  top: 0;
  width: 364px;
  height: 530px;
  left: 12rem;
}

@media screen and (max-width: 769px) {
  .serv-sect .bg-bal.one {
    width: 39%;
    height: 420px;
    left: 3rem;
  }
}

.serv-sect .bg-bal.two {
  bottom: 0;
  height: 160px;
  width: 120px;
  right: 60px;
}

.serv-sect .bg-bal.three {
  left: 2.5%;
  top: 0;
  width: 18%;
  height: 56%;
}

.serv-sect .bg-bal.four {
  right: 10%;
  bottom: 0px;
  width: 26%;
  height: 76%;
}

.serv-sect .bg-bal.five {
  right: 10%;
  top: 0;
  width: 34%;
  height: 33%;
}

.serv-sect .bg-bal.six {
  left: 12%;
  bottom: 0;
  width: 40%;
  height: 23%;
}

.serv-sect .bg-bal.seven {
  right: 12%;
  top: 0;
  width: 12%;
  height: 56%;
}

.serv-sect .bg-bal.eight {
  bottom: 0;
  height: 260px;
  width: 23%;
  left: 60px;
}

.serv-sect .sec-header {
  font-weight: 500;
  font-size: 44px;
  line-height: 40px;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1200px) {
  .serv-sect .sec-header {
    font-size: 36px;
  }
}

@media screen and (max-width: 577px) {
  .serv-sect .sec-header {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 2rem;
  }
}

.serv-sect .button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -1rem;
}

@media screen and (max-width: 769px) {
  .serv-sect .button-group {
    margin: 0 -.75rem;
  }
}

.serv-sect .button-group .btn-outline-large {
  display: block;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: #fff;
  padding: 1rem 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: calc(50% - 2rem);
  margin: 1rem;
  text-align: left;
  border: 1px solid #DADCE0;
  position: relative;
  overflow: hidden;
  border-width: 2px;
}

@media screen and (max-width: 1200px) {
  .serv-sect .button-group .btn-outline-large {
    font-size: 22px;
    padding: 0.65rem 1rem;
  }
}

@media screen and (max-width: 769px) {
  .serv-sect .button-group .btn-outline-large {
    margin: .75rem;
  }
}

@media screen and (max-width: 577px) {
  .serv-sect .button-group .btn-outline-large {
    font-size: 18px;
  }
}

.serv-sect .button-group .btn-outline-large::after {
  content: '\f061';
  position: absolute;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  bottom: 1.5rem;
  right: -2rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.serv-sect .button-group .btn-outline-large:hover {
  background-color: #fff;
  color: #231651;
}

.serv-sect .button-group .btn-outline-large:hover::after {
  right: 1.15rem;
}

.serv-sect picture {
  pointer-events: none !important;
}

@media screen and (max-width: 769px) {
  .serv-sect picture {
    display: none;
  }
}

.serv-sect picture img {
  max-width: 100%;
  pointer-events: none !important;
}

.serv-sect .left-image {
  position: absolute;
  bottom: 0px;
  left: 5%;
}

.serv-sect .right-image {
  right: -.5rem;
  position: absolute;
}

@media screen and (max-width: 769px) {
  .serv-sect .right-image {
    display: none;
  }
}

.serv-sect .top-image {
  top: 0;
  position: absolute;
}

.serv-sect .bottom-image {
  bottom: 0;
  right: 0;
  position: absolute;
}

.serv-sect.business {
  background-color: #AF2BBF;
}

.latest {
  margin-bottom: 5rem;
}

.latest h2.h1 {
  font-size: 44px;
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media screen and (max-width: 577px) {
  .latest h2.h1 {
    font-size: 35px;
  }
}

.latest .blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border: 1px solid #DADCE0;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0 4px 16px rgba(81, 89, 108, 0.02);
          box-shadow: 0 4px 16px rgba(81, 89, 108, 0.02);
  margin: 0 0 1.75rem;
  height: calc(100% - 1.75rem);
}

@media screen and (max-width: 577px) {
  .latest .blog-card {
    padding: 1rem;
  }
  .latest .blog-card .card-text {
    font-size: 1rem;
  }
}

.latest .blog-card:hover {
  border-color: #51596C;
  -webkit-box-shadow: 0 4px 16px rgba(81, 89, 108, 0.2);
          box-shadow: 0 4px 16px rgba(81, 89, 108, 0.2);
}

.latest .blog-card:hover.big .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.latest .blog-card.big .img {
  margin-right: 0;
  margin-bottom: 1rem;
}

.latest .blog-card:not(.big) .img {
  max-width: 40%;
}

@media screen and (max-width: 992px) {
  .latest .blog-card:not(.big) .img {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  .latest .blog-card:not(.big) .img {
    display: block;
    max-width: 35%;
  }
}

.latest .blog-card .img {
  max-height: 250px;
  overflow: hidden;
  margin-right: 1rem;
}

.latest .blog-card .img img {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
}

.latest .blog-card a h5 {
  font-weight: 400;
  font-size: 1.35rem;
}

@media screen and (max-width: 577px) {
  .latest .blog-card a h5 {
    font-size: 1.25rem;
  }
}

.insight .card {
  border-color: #1F2430;
  margin: 0 0 1.75rem;
  height: calc(100% - 1.75rem);
}

.insight .card i.fa {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 1.5rem;
  opacity: 0.7;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.insight .card .card-title a {
  display: block;
  color: inherit;
  max-width: 85%;
}

.insight .card .card-text {
  max-width: 80%;
  font-size: 15px;
  color: #51596C;
}

.cta {
  margin-top: 200px;
  background: #000;
}

@media screen and (max-width: 769px) {
  .cta {
    margin-top: 120px;
  }
}

@media screen and (max-width: 577px) {
  .cta {
    margin-top: 80px;
  }
}

.cta .inner {
  width: 100%;
  padding: .5rem 0;
}

@media screen and (max-width: 1200px) {
  .cta .inner {
    padding: 1rem 0 2rem;
  }
}

@media screen and (max-width: 769px) {
  .cta .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 0 0;
  }
}

@media screen and (max-width: 577px) {
  .cta .inner {
    text-align: center;
    padding: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0;
  }
  .cta .inner .display-4 {
    font-size: 2.75rem;
  }
}

.cta picture img {
  -webkit-filter: drop-shadow(-40px 90px 90px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(-40px 90px 90px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 769px) {
  .cta picture img {
    display: none;
  }
}

.feedback .card-feed {
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border: 1px solid rgba(81, 89, 108, 0.15);
  position: relative;
  background: #fff;
  z-index: 05;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (max-width: 577px) {
  .feedback .card-feed {
    padding: 1.25rem;
    margin-top: 4rem;
    margin-bottom: 0rem;
  }
}

.feedback .card-feed:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(103, 113, 137, 0.1);
          box-shadow: 0 1rem 2rem rgba(103, 113, 137, 0.1);
}

.feedback .card-feed:hover + .avatar {
  top: -.5rem;
}

.feedback .card-feed blockquote {
  font-family: Oswald;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #1F2430;
}

.feedback .card-feed p {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1F2430;
}

.feedback .card-feed span {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #51596C;
}

.feedback .avatar {
  position: absolute;
  top: 1rem;
  left: 3rem;
  z-index: -1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer.footer {
  background: #1D293F;
  padding-top: 4rem;
  position: fixed;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
  z-index: 1;
}

@media screen and (max-width: 992px) {
  footer.footer {
    position: static;
  }
}

@media screen and (max-width: 992px) {
  footer.footer .footer-widget {
    margin-bottom: 2rem;
  }
}

footer.footer .footer-widget .logo {
  margin-bottom: 1rem;
}

footer.footer .footer-widget .footer-head {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  letter-spacing: 1px;
  color: #8C97AC;
}

@media screen and (max-width: 769px) {
  footer.footer .footer-widget .footer-head {
    font-size: 16px;
  }
}

footer.footer .footer-widget .txt {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: #b1baca;
  max-width: 60%;
}

@media screen and (max-width: 769px) {
  footer.footer .footer-widget .txt {
    font-size: 15px;
  }
}

footer.footer .footer-widget .nav .nav-link {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  /* or 262% */
  letter-spacing: 0.5px;
  color: #E9F7FE;
  padding: 0.25rem;
  padding-left: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

footer.footer .footer-widget .nav .nav-link:hover {
  color: #fff;
  padding-left: .25rem;
}

footer.footer .copy-text {
  margin-top: 3rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid rgba(218, 220, 224, 0.3);
}

@media screen and (max-width: 577px) {
  footer.footer .copy-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer.footer .copy-text small {
  color: #8C97AC;
  font-size: 14px;
}

footer.footer .copy-text .social .link {
  padding: 0.5rem;
  text-decoration: none;
  color: #8C97AC;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin-right: 4px;
}

footer.footer .copy-text .social .link:hover {
  color: #fff;
}

@media screen and (max-width: 577px) {
  footer.footer .copy-text .social {
    margin-bottom: 1rem;
  }
}

.blog {
  min-height: calc(90vh - 150px);
}

.blog .blog-inner {
  padding: 120px 0 100px;
}

.blog .blog-inner .blog-title {
  font-weight: 500;
}

.blog .blog-inner .subtitle {
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
  font-size: 90%;
}

.blog .blog-inner .author {
  margin-bottom: 1.5rem;
}

.blog .blog-inner article {
  padding: 2rem 0;
}

.blog .blog-inner article h2, .blog .blog-inner article h3 {
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #313D55;
  margin-bottom: 1.5rem;
}

.blog .blog-inner article p, .blog .blog-inner article .lead {
  color: #4A4A4A;
  font-weight: normal;
}

.all-blogs, .service + .latest .blog-card .img {
  max-width: 100%;
  margin: 0 0 1.25rem;
}

.service {
  padding: 4rem 0 0;
  position: relative;
}

.service .bg-blue {
  position: absolute;
  min-height: 480px;
  width: 58.333333%;
  background: #087CA7;
  top: 4rem;
  left: 0;
}

@media screen and (max-width: 992px) {
  .service .bg-blue {
    min-height: 480px;
    width: 98.333333%;
  }
}

.service .page-header {
  padding: 3rem 0;
}

.service .page-header .badge-white {
  display: inline-block;
  padding: 0.25rem .5rem;
  background: rgba(219, 224, 221, 0.2);
  -webkit-box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.03);
  color: #fff;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: .8rem;
  margin: 1.5rem 0;
}

@media screen and (max-width: 992px) {
  .service .page-header .badge-white {
    margin: 0 0 1.25rem;
  }
}

.service .page-header .display-4 {
  max-width: 60%;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1200px) {
  .service .page-header .display-4 {
    max-width: 100%;
    font-size: 3rem;
  }
}

@media screen and (max-width: 769px) {
  .service .page-header .display-4 {
    max-width: 100%;
    font-size: 2.25rem;
  }
}

.service .page-header .scroll {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding-left: 0 !important;
}

.service .bg-grey.img-cunt {
  position: relative;
  top: 3rem;
  padding-top: 3rem;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .service .bg-grey.img-cunt {
    z-index: 2;
    top: -1rem;
    padding: 1.5rem;
  }
}

.service .bg-grey.img-cunt img {
  z-index: 5;
}

.service .service-wrapper {
  padding-top: 8rem;
}

@media screen and (max-width: 992px) {
  .service .service-wrapper {
    padding-top: 3rem;
  }
}

.service .service-wrapper h2, .service .service-wrapper .h1 {
  font-size: 2.5rem;
  margin-bottom: 1.75rem;
}

@media screen and (max-width: 992px) {
  .service .service-wrapper h2, .service .service-wrapper .h1 {
    font-size: 1.752rem;
  }
}

.service .service-wrapper p {
  color: #4A4A4A;
  font-size: 18px;
  line-height: 1.6777;
  margin-bottom: 2rem;
}

.service .service-wrapper .cta {
  margin: 90px 0;
}

.service .service-wrapper .solutn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  height: calc(100% - 2rem);
}

.service .service-wrapper .solutn .num {
  font-size: 75px;
  line-height: 100%;
  position: relative;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
  display: inline-block;
}

.service .service-wrapper .solutn .num::before {
  width: 80px;
  height: 80px;
  top: 0.5rem;
  left: 0rem;
  content: '';
  position: absolute;
  background-color: #f2f2f288;
  border-radius: 50%;
  z-index: -1;
}

.service .service-wrapper .solutn .text-blue {
  font-size: 20px;
  color: #087CA7;
  margin-bottom: 2rem;
}

.service .service-wrapper ul {
  margin-bottom: 2rem;
}

.service .service-wrapper ul li {
  font-weight: 400;
  color: #4A4A4A;
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

.service .service-wrapper ul li:not(:last-child) {
  padding-bottom: 1rem;
}

.service .service-wrapper ul li::before {
  position: absolute;
  content: '';
  top: 0.5rem;
  left: 0.25rem;
  width: .5rem;
  height: 0.5rem;
  background-color: #087CA7;
}

.service .service-wrapper ul li ul {
  margin-bottom: 0;
}

.service .service-wrapper ul li ul li::before {
  border-radius: 5px;
}

.service .service-row .card {
  height: calc(100% - 2rem);
  margin-bottom: 2rem;
}

.service .service-row .card .card-body {
  padding-top: 5rem;
}

.service .service-row .card .card-body .card-header {
  background: #fff;
  border: 1px solid #dadce0;
  position: absolute;
  top: 1rem;
  min-width: 60%;
  max-width: 100%;
  letter-spacing: .5px;
  left: -.5rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.service .service-row .card .card-body .card-header h4 {
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.service .service-row .card .card-body p {
  margin-bottom: 1rem;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 769px) {
  .service .service-row .card .card-body p {
    -webkit-line-clamp: 5;
  }
}

.service .service-row .card:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.service .service-row .card:hover .card-header {
  -webkit-box-shadow: -5px 5px 0px #087CA7, 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: -5px 5px 0px #087CA7, 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service .banking {
  margin-top: 100px;
  padding-bottom: 50px;
}

.service .banking h4 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.service .banking .wrap {
  margin-bottom: 2rem;
  height: calc(100% - 2rem);
}

.service .banking .wrap .icon {
  margin-bottom: 1.25rem;
}

.service .banking .wrap h3 {
  font-size: 1.35rem;
  margin-bottom: 1.25rem;
}

.service .banking .wrap p {
  font-size: .995rem;
}

.service .banking .blue-card {
  background: #087CA7;
  height: 100%;
  padding: 0 2rem 2rem;
}

@media screen and (max-width: 769px) {
  .service .banking .blue-card {
    padding: 0 1rem 2rem;
  }
}

.service .banking .blue-card picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: -1rem 0;
}

.synd {
  padding-top: 120px;
  padding-bottom: 100px;
}

.synd .sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  padding: 1rem 0 3rem;
}

@media screen and (max-width: 769px) {
  .synd .sidebar .nav {
    display: none;
  }
}

.synd .sidebar .nav .nav-link {
  color: #8C97AC;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.synd .sidebar .nav .nav-link.active, .synd .sidebar .nav .nav-link:hover {
  color: #1F2430;
}

.synd .page-title {
  padding: 3rem 2rem;
  background-color: #087CA7;
  margin-bottom: 2rem;
}

.synd article h4, .synd article h3, .synd article h2, .synd article h1, .synd article h5 {
  font-weight: 500;
  color: #1F2430;
  margin-bottom: 1.5rem;
}

.synd article p, .synd article li {
  color: #4A4A4A;
  line-height: 1.666;
}

.synd article ul {
  margin-bottom: 2rem;
}

.synd article p {
  margin-bottom: 2.5rem;
}

.synd article blockquote {
  padding: 1.5rem;
  background: rgba(81, 89, 108, 0.05);
  margin-bottom: 2rem;
}

.synd article table {
  margin-bottom: 2rem;
}

.synd article picture img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.contact {
  padding: 100px 0 120px;
}

.contact .contact-left {
  background: #087CA7;
  padding: 45px 30px;
}

.contact .contact-left a {
  color: #fff;
}

.contact .contact-left .page-header {
  font-size: 2rem;
  font-weight: 500;
}

.contact .inner {
  padding: 45px 20px;
}

@media screen and (max-width: 577px) {
  .contact .inner {
    padding: 30px 8px;
  }
}

.contact .inner .page-header {
  font-size: 2.15rem;
  font-weight: 500;
}

@media screen and (max-width: 769px) {
  .contact .inner form .form-control {
    margin-bottom: 1.5rem;
  }
}

.contact .inner form input, .contact .inner form textarea {
  border: 0;
  border-bottom: 1px solid #8C97AC;
}

.contact .inner form input:focus, .contact .inner form textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #087CA7;
}
